.dogImage{
    height: 160px;
    width: 180px;
    border-radius: 8px;
}
li{
    list-style-type: none;
}
.subbreed-popup{
    margin: 0px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    background-color: rgb(238, 238, 238);
}
