.Header{
   
    background-color: aqua;
    align-items: center; 
    height: 80px;
}
h1{
  
    text-align: center;
    justify-items: center;
    
}
.Custom-Search-btn{
    background-color:rgb(1, 216, 216);

    
    height: 20px;
    display: flex;
    position: absolute;
    margin-top: 0px;
    right: 10px;
    
}